* {
    box-sizing: border-box;
}

body { 
    margin-left: 16em;
    margin-right: 16em;
    margin-top: 4em;
    
    color: rgb(22, 18, 37);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
    text-align: center;
    margin-top: 4em;
    margin-bottom: 4em;
}

.main-nav {
    position: sticky;
}

.main-nav a {
    display: inline-block;
    margin-right: 2em;
    color: midnightblue;
    text-decoration: none;
}

.main-nav a:hover {
    text-decoration: underline;
}

.button-group--testing {
    padding-top: 2em;
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.button {
    background-color: #eee;
	padding: 4px 16px;
	border-radius: 4px;
    border: none;
    box-shadow: 0px 2px 4px rgb(178, 188, 199);
}

.button--secondary {
    /* inherits from button */
    background-color:rgb(37, 37, 37);
    color: white;
}

.button--caution {
    /* inherits from button */
    background-color: rgb(124, 38, 38);
    color: white;
}